.container {
  max-width: 340px;
  outline: 1px solid tomato;
}

@media (min-width: 834px) {
  .container {
    width: 834px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
